<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab_8_tkgda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".hieutmph10003_ASM_TKGDA"
            android:label="@string/title_activity_hieutmph10003__a_s_m__t_k_g_d"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity_Bai_2" />
        <activity
            android:name=".Activity_Bai_1"
            android:label="@string/title_activity__bai_1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>